[submodule "submodules/charts"]
	path = submodules/charts
	url = https://github.com/helm/charts
	branch = master
[submodule "submodules/kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
	branch = master
[submodule "submodules/packer-maas"]
	path = submodules/packer-maas
	url = https://github.com/DeepOps/packer-maas
	branch = master
